@{
    ViewData["Title"] = "Organizational Chart";
}
<h2>@ViewData["Title"].</h2>

<p><a href="~/doc/Organisational Chart.pdf">TownHall Organisational Chart [Download Link]</a></p>
<p><iframe id="fred" style="border:1px solid #666CCC" title="TownHall Organisational Chart" src="~/doc/Organisational Chart.pdf" frameborder="1" scrolling="auto" height="850" width="1100"></iframe></p>
