@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<!--<h3>@ViewData["Message"]</h3>-->

<text>
    <strong>Developers:</strong><br />
    Stanescu Valentin Mihai<br />
    Deaconescu Andrei Cornel<br />
    Cojocaru Ionut Cosmin
</text>

