@{
    ViewData["Title"] = "Documents";
}
<h2>@ViewData["Title"].</h2>


<p>
    <br />
<a href="~/doc/TownHall Project Specification.pdf">TownHall Project Specifications</a>
    <br />
<a href="~/doc/SRS TownHall.pdf">Software Requirements Specification</a>
    <br />
<a href="~/doc/TownHallTaskPlanning.xlsx">TownHall Task Planning</a>

</p>
